{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- WORK -->

     <section id="work" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <br>
                              <br>
                              <br>
                               <hr/>
                              <h2>Nossos Servicos</h2>
                              <hr/>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <!-- WORK THUMB -->
                         <div class="work-thumb">
                                   <img src="{% static 'website/images/service1.jpg' %}" class="img-responsive" alt="Work">

                                   <div class="work-info">
                                        <h3>Exames clínicos</h3>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <!-- WORK THUMB -->
                         <div class="work-thumb">
                                   <img src="{% static 'website/images/service3.jpg' %}" class="img-responsive" alt="Work">

                                   <div class="work-info">
                                        <h3> Limpeza e Obturações Simples</h3>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <!-- WORK THUMB -->
                         <div class="work-thumb">
                                   <img src="{% static 'website/images/service2.jpg' %}" class="img-responsive" alt="Work">

                                   <div class="work-info">
                                        <h3>Extrações</h3>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <!-- WORK THUMB -->
                         <div class="work-thumb">
                                   <img src="{% static 'website/images/service4.jpg' %}" class="img-responsive" alt="Work">

                                   <div class="work-info">
                                        <h3>Trabalhos de Endodotia e Periondontia</h3>
                                   </div>
                              </a>
                         </div>
                    </div>

               </div>
          </div>
     </section>
{% endblock %}